// wine index page wersion
@media (max-width: 1024px){
    .wine-page-header{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
    .change-1{
        margin-right: 150px;
        display: none;
    }
    .change-7{
        display: none;
    }
    .change-6{
        margin-right: 0;
    }
    .wine-fr-page-text{
        width: 1000px;
    }
}
@media (max-width: 480px){
    .wine-page-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wine-page-main{
        padding-top: 30px;
    }
    .wine-fr-page-text{
        width: auto;
        font-size: 100px;
        line-height: 200px;
        margin-top: 100px;
    }
    .change-2, .change-3, .change-4, .change-5, .change-6{
        padding: 8px;
    }
    .change-4{
        margin: 0;
        border-left: 2px solid #ffffff;
        border-right: 2px solid #ffffff;
    }
    .change-2{
        margin: 0 186px 0 0;
        border: 2px solid #ffffff;
    }
    .change-3{
       margin: 0 0 0 20px;
       border: 2px solid #ffffff;
    }
    .change-5{
       margin: 0 36px 0 0;
       border: 2px solid #ffffff;
    }
    .change-6{
       margin: 0 0 0 160px;
       border: 2px solid #ffffff;
    }
}
// wine index page wersion
   // wine page our history responsive
@media (max-width: 1024px){
    .wine-page2{
        height: auto;
        padding-top: 30px;
    }
    .wine-page-2-texe-1{
        width: 800px;
    }
    .wine-page-2-text-2{
        position: absolute;
        left: 730px;
        top: 750px;
        margin: 0;
    }
    .wine-all-page-footer{
        margin-top: 350px;
    }
    .wine-all-page-footer .wine-page-all-footer-ul
     .wine-page-all-footer-li .wine-page-all-footer-text{
        margin: 0px;
    }
    .twitter-move-all{
        margin-right: 586px;
    }
}
@media (max-width: 480px){
    .wine-page2{
        height: auto;
    }
    .wine-page-2-text-2{
        display: none;
    }
    .wine-all-page-footer{
        margin: 0px;
        margin-top: 80px;
        padding-bottom: 20px;
    }
    .twitter-move-all {
        margin-right: 120px;
    }
}


   // wine page our history responsive