// wine index page wersion
@media (max-width: 480px){
    #menuToggle{
        display: inline-block;
        margin-left: -21px;
    }
    .wine-page-ul{
        display: none;
    }
    .wine-page-main, .wine-page2, .wine-page3{
        padding-top: 0;
    }
    .wine-fr-page-text{
        width: 270px;
        font-size: 30px;
    }
    .wine-page-2-text-2, .wine-all-page-footer, .wine-page-header, .wine-page-3-text-box, 
    .wine-page-footer{
        display: none;
    }
    .wine-page-2-texe-1{
        display: none;
    }
    .mobile-wine-page-our-text{
        font-size: 18px;
        color: #ffffff;
        font-family: 'Mont Heavy DEMO';
        line-height: 27px;
        padding: 130px 20px 0 28px;
        display: inline-block;
    }
    .mobile-wine-page-our-footer{
        font-family: 'FiraGO';
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 270px;
        display: block;
    }
    .wine-page3{
        background-position-x: -670px;
    }
    .wine-page-mobile-3-pages-text{
        color: #fff;
        font-size: 30px;
        font-family: Roboto;
        text-align: center;
        padding-top: 390px;
        line-height: 35px;
    }
    .wine-page-3-mobile-btn{
        color: #ffffff;
        font-size: 14px;
        display: inline-block;
        padding: 18px 20px;
        border: 1px solid #ffffff;
        font-family: 'FiraGO';
          &:hover{
              background-color: #ffffff;
              cursor: pointer;
              color: #000000;
          }
    }
    .wine-page-3-mobile-hover-btn{
        margin-top: 40px;
        display: flex;
        justify-content: center;
            :last-child{
                padding: 18px 15px;
                margin-left: 10px;
            }
    }
    .mobile-wine-page-our-footer-3{
        font-family: 'FiraGO';
        color: #ffffff;
        text-transform: uppercase;
        text-align: center;
        padding-top: 200px;
        display: block;
    }
}
