@media (max-width: 1124px){
    .smartWatch-made-section{
        width: 98%;
        margin: auto;
    }
    .special-image-for-slick-slide{
        left: 461px;
        top: 488.7%;
    }
    .priv-arrow, .next-arrow{
        display: none !important;
    }
    .smartWathc-footer-last-flex-div{
        width: 185px;
        margin-left: 35px;
    }
    .SM-hover-img{
        margin: -5px;
    }
}

@media (max-width: 1034px){
    .SM-hover-img{
        margin: -18px;
    }
    .smartWathc-footer-last-flex-div{
        width: 165px;
    }
    .special-image-for-slick-slide{
        left: 415px;
        top: 504.5%;
    }
}

// @media (max-width: 1024px){
//     .SM-hover-img{
//         margin: -18px;
//     }
//     .special-image-for-slick-slide{
//         left: 412.5px;;
//         top: 489%;
//     }
//     .smartWathc-footer-last-flex-div{
//         width: 164px;
//     }
// }
// @media (max-width: 1020px){
//     .smart-Watch-Main{
//         display: none;
//     }
//     .text-for-mobile-visitors-p{
//         display: block;
//     }
// }
// @media (max-width: 1025px){
//     .special-image-for-slick-slide{
//         left: 412px;;
//         top: 489%;
//     }
// }
// @media (max-width: 1026px){
//     .special-image-for-slick-slide{
//         left: 412.5px;;
//         top: 489%;
//     }
// }
// @media (max-width: 1027px){
//     .special-image-for-slick-slide{
//         left: 412.5px;;
//         top: 489%;
//     }
// }
// @media (max-width: 1028px){
//     .special-image-for-slick-slide{
//         left: 412.5px;;
//         top: 489%;
//     }
// }
// @media (max-width: 1029px){
//     .special-image-for-slick-slide{
//         left: 412.5px;;
//         top: 489%;
//     }
// }
// @media (max-width: 1030px){
//     .special-image-for-slick-slide{
//         left: 414.6px;
//         top: 489%;
//     }
// }
// @media (max-width: 1031px){
//     .special-image-for-slick-slide{
//         left: 414.6px;
//         top: 489%;
//     }
// }
// @media (max-width: 1032px){
//     .special-image-for-slick-slide{
//         left: 414.6px;
//         top: 489%;
//     }
// }
// @media (max-width: 1033px){
//     .special-image-for-slick-slide{
//         left: 415.9px;
//         top: 489%;    
//     }
// }