// body{
//     background: #222222;
// }
.index-page{
  background: #222222;
  // background-size: 100%;
  height: 750px;
}
.bio{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio-img{
    border-radius: 50%;
    height: 200px;
    margin-bottom: 20px;
}
.bio-fr, .bio-ls, .bio-about {
    font-size: $BigTextSize;
    font-family: 'Roboto_bold';
    text-transform: capitalize;
    padding: 5px;
    cursor: pointer;
    color: $defaultBlueColor;
}
  
// projects page
.my-build-projects{
  line-height: 50px;
  text-transform: capitalize;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-family: 'Mont ExtraLight DEMO';
  color: white;
}
.desinger-fr-ls{
  border: 1px dashed;
  padding: 10px;
}
.desinger-link{
  text-decoration: none;
  color: #ffffff;
}
// projects page
