.index-page-main{
  background: $defaultBackgroundColor;
  height: 100vh; 
}  
.bio{
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 150px;
}
.bio-name{
  font-size: 70px;
  font-family: 'Roboto';
}
.bio-surname{
  font-size: 70px;
  font-family: 'Roboto';
}
.bio-line-bottom{
  height: 5px;
  width: 60px;
  background-color: #FFC25C;
}
.dev-produt{
  font-size: 30px;
  font-family: 'Roboto';
  margin-top: 15px;
}
.dev-developer{
  font-size: 45px;
  font-family: 'Roboto';
  margin-top: 30px;
}
.txt-border-bottom{
  border-bottom: 5px solid  #FFC25C;
}
.name-surname{
  height: 360px;
  width: 450px;
  color: #ffffff;
}
.dev-tool{
  height: 360px;
  width: 450px;
  color: #ffffff;
}
.profile-img{
  width: 250px;
  border-radius: 50%;
  margin-right: 40px;
}
.portfolio-social-icons-box{
   margin-right: 10px;
      .my-social-icon{
        height: 22px;
        margin: 5px ;
        padding-left: 10px;
        border-left: solid 1.3px #FFC25C;
      }
}
.fb-border-none{
  border: none !important;
}
.contact-section{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.my-contact-info{
  font-size: 20px;
  font-family: 'Roboto';
  color: #FFC25C;
     .my-phone{
       margin-left: 15px;
       color: #FFC25C;
     }
}
.email-info{
  font-size: 18px;
  font-family: 'Roboto';
  margin-top: 10px;
  color: #FFC25C;
}
.my-social-a{
  text-decoration: none;
}
// project page main
.project-page-main{
  background-color: $defaultBackgroundColor;
  height: 100vh;
}

// desinger cards
.cards-star-section{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.project-end-desinger {
  // display: flex;
  // justify-content: center;
  margin: 30px;
}
.desinger-profile-card-2{
  margin: 30px;
}
.card{
  border-radius: 10px;
  width: 230px;
  height: 360px;
  background-color: #f5f6f7;
  box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #dfe4ea;
  font-family: 'Roboto';
  position: relative;
  overflow-x: hidden;
}
.card-head{
  height: 44%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body{
  text-align: center;
}
.profile-img-desinger{
  border-radius: 50%;
  position: absolute;
  top: 35px;
  width: 85px;
  height: 85px;
  border: 3px solid #f1f8fd;
  box-shadow:
  20px 20px 20px rgba(0,0,0,0.07),
  -20px -20px 20px rgba(255,255,255,0.7),
  6px 6px 6px rgba(0,0,0,0.09),
  -6px -6px 6px rgba(255,255,255,0.9);
}
.profile-img-desinger::after{
  content:"";
  border-radius: 50%;
  background-color: #f1f8fd;
  display: block;
  background-image: url(../img/tamar-demetrashvili-img.jpg);
}
.acc{
  position: absolute;
  height: 75px;
  top: 5px;
  left: 4.9px;
  border-radius: 50%;
}
.fa-user{
  margin-top: 20px;
  font-size: 40px;
  margin-left: 25px;
}
.imgg{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.desinger-name{
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.desc{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: inherit;
  border: none;
}
.iconss{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: inherit;
  border: none;
  outline: 0;
  box-shadow: -4px -2px 4px 0px #ffffff, 4px 2px 6px 0px #dfe4ea;
  color: #807e7e;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 10rem;
  margin: 0.6rem;
  font-size: 20px;
  cursor: pointer;
}
.iconss:focus::after,
.iconss:active::after{
  content: "";
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     border-radius: 10rem;
     box-shadow: 2px 2px 2px 0px #dfe4ea inset, -2px -2px 2px 0px #ffffff inset;
}
.desinger-icons-ul{
  margin-top: 15px;
  display: inline-flex;
}
.desinger-icons-li{
  list-style: none;
}
.btn-portfolio{
  position: relative;
  background: inherit;
  box-shadow: -4px -2px 4px 0px #ffffff, 4px  2px 6px 0px #dfe4ea;
  color: #616161;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  top: 30px;
}
.btn-portfolio:active::after,
.btn-portfolio:focus::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px #dfe4ea inset, -2px -2px 2px 0px #ffffff inset;
}
.website-change-ops{
  text-transform: uppercase;
  letter-spacing: 0.1px;
}
// desinger cards

// project page main

// blog page
.blog-page-main{
  background-color: $defaultBackgroundColor;
  height: 100vh;
}
.elfsight-app-24e185d6-e513-4195-b37c-a1dfb6ba6c28{
  font-family: 'Roboto_bold';
}
// blog page

// smart watch scss
.smart-Watch-Main{
  height: 100%;
  background-color: #f0efed;
}
.smartWatch-header{
  background-color: #F0EEEE;
    .smartWatch-nav{
        .smartWatch-ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px;
          border-bottom: gray 1px solid;
          }
            .smart_Watch_Logo{
              height: 30px;
              margin-right: 200px;
              border: 2px solid gray;
              border-radius: 25%;
              padding: 5px;
              cursor: pointer;
            }
            .smartwatchSearch_logo{
              height: 24px;
              margin-left: 170px;
              cursor: pointer;
              padding: 5px;
            }
            .smartWatch-li{
              font-size: 16px;
              padding: 20px;
              cursor: pointer ;
              font-family: 'Roboto';
              color: rgb(122, 122, 122);
            }
            .smartWatch-li:hover{
              color: #000000;
              padding-bottom: 19px;
              transition: all 0.02s ease 0s;
            }
        }
    }
    .slide-star-div{
      background-color:#F0EFED;
      height: calc(100vh - 63px);
      width: 100%;
    }
    .mySlide-imgs{
      height: 57%;
      position: absolute;
      left: 50%;
      top: 55%;
      transform: translate(-50%, -50%);
      transition: 1s all ease;
      overflow: hidden;
    }
    .mySlide-imgs:hover{
      height: 61%;
      transition: all 0.3s ease;
      // cursor: pointer;
    }
    .mySlide-imgs:nth-child(4){
      height: 50%;
      transition: 1s all ease;
    }
    .mySlide-imgs:nth-child(4):hover{
      height: 57%;
      transition: all 0.3s ease;
    }
    .slideButtons-box{
      display: flex;
      justify-content: space-between;
      padding: 50px;
    }
    .style-Button{
      display: flex;
      justify-content: row;
      cursor: pointer;
      padding: 100px 60px ;
      margin-top: 11%;
      border: none;
      outline: none;
      background-color: none;
    }
    .smartWatchTitle-h1{
      // padding-top: 70px;
      font-family: 'Mont Heavy DEMO';
      height: 57%;
      position: absolute;
      left: 50%;
      top: 43%;
      transform: translate(-50%, -50%);
      font-size: 22px;
    }
    .jquery-mouse-over-animation{
      height: 100px;
    }
    .smartWatch-made-div{
      width: 100%;
      display: flex;
        .smartWatch-first-div{
          width: 30%;
          height: 85vh;
          // background-color: red;
          background-image:  url("../img/applySmartWatchImage_5.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          display: none;
        }
        .smartWatch-last-div{
          width: 70%;
          height: 75vh;
          background-color:#cecdcc;
          // background-image: linear-gradient(#F0EFED, #cecdcc,);
          // background-image: linear-gradient(to right, #F0EFED, #cecdcc,);
    background: linear-gradient(217deg, rgb(236, 233, 233), rgba(85, 21, 21, 0) 70.71%),
                linear-gradient(127deg, rgba(172, 163, 163, 0.8), rgba(112, 58, 58, 0) 70.71%),
                linear-gradient(336deg, rgb(214, 60, 13), rgba(255, 255, 255, 0) 70.71%);
                border-radius: 10px;
        }
        .smartWatch-div-title{
          text-align: center;
          margin-top: 30px;
        }
        .smartWatch-div-title-img{
          height: 120px;
        }
        .smartWatch-p{
          font-size: 22px;
          font-family: 'Roboto';
          line-height: 25px;
          width: 600px;
          text-align: center;
          margin: auto;
          font-weight: 400;
          color: #333;
        }
        .smartWatch-buy-h2{
          font-family: 'FiraGO';
          letter-spacing: 0.5px;
          font-size: 20px;
          // margin: auto;
          // align-items: center;
          text-align: center;
          margin-top: 40px;
          color: #333;
        }
        .smartWatch-buy-button{
          font-family: 'Roboto';
          border: 1px solid #0071e3 ;
          border-radius: 25px;
          padding: 10px 25px;
          display: inline-block;
          color: #ffffff;
          cursor: pointer;
          background-color: #0071e3;
          letter-spacing: 0.5px;
          font-size: 18px;
          margin-top: 5px;
        }
        .smartWatch-buy-div{
         display: flex;
         justify-content: center;
         margin-top: 45px;
        }
        .smartWatch-buy-button:hover{
          background-color: #0783ff;
          border-color: #0783ff;
        }
    }
    .smartWatchInfoTitle-div{
      display: flex;
      justify-content: center;
    }
    .smartWatchInfo-h1{
      text-align: center;
      text-transform: uppercase;
      position: relative;
      top: -70px;
      font-family: 'Roboto_bold';
      letter-spacing: 3px;
      font-size: 18px;
      color: #b61d1d;
    }
    .smartWatchDesing-info-h1{
      text-align: center;
      font-size: 40px;
      font-family: 'Roboto';
      font-weight: 1000;
    }
    .smartWatchWhereToBuy-div{
      display: flex;
      justify-content: center; 
        .smartWatchWhereToBuy-h1, .smartWatchWhereToBuy-h2{
          font-size: 17px;
          padding: 5px;
          margin: 15px;
          font-family: 'Roboto'; 
          font-weight: lighter;
          line-height: 40px;
          color: #68A1D5;
          cursor: pointer;
        }
        .fa-chevron-right{
          font-size: 12px;
          color: #68A1D5;
          cursor: pointer;
        }
        .smartWatchWhereToBuy-h1:hover, .smartWatchWhereToBuy-h2:hover{
          color: #1c67ad;
        }
    }
    .smartWatchWTextFor-p{
      text-align: center;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 20px;
      margin: 30px 20px 10px 20px;
    }
    .smartWatchAbout-div{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .smartWatchAbout-first-div{
      height: 200px;
      width: 280px;
      margin: 50px 0px 0px 0px;
      // background-color: green;
      .smartWatchTexts-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
       }
       .smartWatchInfoBuilt-img{
         height: 30px;
         display: block;
         margin: auto;
       }
       .smartWatchInfoBuilt-h1{
         font-size: 20px;
         font-family: 'Roboto';
         font-weight: 500;
         text-align: center;
         margin: 10px;
       }
       .smartWatchInfobuilt-p{
         font-size: 15px;
         font-family: 'Roboto';
         text-align: center;
         margin: 5px;
       }
       .smartWatchInfoBuilt-learn-more{
        font-family: 'Roboto';
        font-weight: 10;
        color: #68A1D5;
        text-align: center;
        padding: 10px;
       }
       .fa-angle-right{
         font-size: 12px;
         align-items: center;
       }
       .smartWatchInfoBuilt-learn-more:hover{
         color: #1c67ad;
         cursor: pointer;
       }
    }
    .smartWatchSport-section{
      height: 100vh;
      background-color: #000000;
        .smartWatchSport-div-box{
          // background-color: green;
          box-sizing: border-box;
          height: 100vh;
          width: 100%;
          display: flex;
          justify-content: center;
        }
        .smartWatchSport-image{
          height: 450px;
          margin-top: 110px;
        }
        .smartWatchSport-text-div{
            .smartWatchSport-h1{
              font-size: 50px;
              color: #ffffff;
              font-family: 'Mont Heavy DEMO';
              margin: 150px auto 50px 100px;
            }
            .smartWatchSport-p{
              font-size: 19px;
              color: #ffffff;
              width: 75%;
              text-align: left;
              font-family: 'Mont ExtraLight DEMO';
              font-weight: 500;
              margin: 50px auto 50px 100px;
              border-left: 1px solid;
              border-right: 1px solid;
              padding-left: 20px;
            }
            .smartWatchSport-h2{
              font-size: 16px;
              color: #ffffff;
              font-family: 'Mont ExtraLight DEMO';
              border: 0.5px solid #ffffff;
              display: inline;
              padding: 5px 24px;
              margin: 100px auto 70px 100px;
            }
            .smartWatchSport-h2:hover{
              background-color: #ffffff;
              cursor: pointer;
              color: #000000;
            }
            .smartWatchSport-more-p{
              color: #cecece;
              font-size: 15px;
              font-family: 'Mont ExtraLight DEMO';
              margin: 100px auto auto 100px;
              border-bottom: 1px solid #ffffff;
              padding: 10px;
               width: 420px;
               border-color: #ffffff;
            }
        }
    }
.slick-slide-section{
  background-color: transparent;
  height: 100vh;
    .slick-slide-image{
      height: 250px;
      margin: auto;
    }
}
.slick-slide{
  // cursor: pointer;
}
.slick-slide:focus{
   outline: none; 
  }
  .slick-slide-about-image{
    height: 100px;
  }
.slick-slide-about-box{
  display: flex;
  justify-content: center;
  // flex-direction: row;
}
.slick-slide-text-h1{
  font-size: 18px;
  font-family: 'Roboto';
  text-align: center;
  color: #535353;
}
.slick-slide-text-P{
  font-size: 16px;
  text-align: center;
  color: #535353;
  margin: 10px;
  font-family: 'Roboto';
}
.slick-slide-button-buy-text, .slick-slide-button-find-text{
  font-size: 17px;
  padding: 5px;
  margin: 15px;
  font-family: 'Roboto';
  font-weight: lighter;
  line-height: 40px;
  color: #68a1d5;
  cursor: pointer;
}
.slick-slide-button-buy-text:hover,  .slick-slide-button-find-text:hover{
  color: #1c67ad;
}
.slick-slide-button-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slide-choose-button{
  text-align: center;
  font-size: 20px;
  margin: 5px auto 50px auto;
  font-family: 'Mont ExtraLight DEMO';
  font-weight: 700;
  text-shadow: rgba(255,255,255,0.9);
  text-overflow: ellipsis;
}
.slick-slide-div{
  height: 48vh;
  // background-color: green;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // position:absolute;
}
.slick-photo-items{
  height: 300px;
  position: relative;
}
.special-image-for-slick-slide{
position: absolute !important;
z-index: 100;
left: 582.4px;
top: 451.5%;
height: 287px;
}
.priv-arrow{
  font-size: 20px;
  color: #4d4d4d;
  position: absolute;
  left: -60px;
  padding: 30px;
  top: 60px;
  cursor: pointer;
}
.next-arrow{
  font-size: 20px;
  color: #4d4d4d;
  position: absolute;
  padding: 30px;
  left: 1188px;
  top: 60px;
  cursor: pointer;
}
.next-arrow:hover, .priv-arrow:hover{
  color: #000000;
}
// smart watch scss