body{
    background-color: gray;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mogo-header-div{
    background-image: url("../img/mogo-header-background-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
    min-height: 670px;
    overflow: hidden;
        .mogo-header-title-h1, .mogo-header-title-h2, .mogo-header-title-h3{
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
        }
        .mogo-header-title-h1{
            font-size: 50px;
            text-align: center;
            margin-top: 80px;
            margin-bottom: 30px;
        }
        .mogo-header-title-h2, .mogo-header-title-h3{
            text-align: center;
            font-size: 90px;
            text-transform: uppercase;
        }
        .mogo-bottom-title-line-div{
            width: 60px;
            border-bottom: 3px solid #ffffff;
            margin: 20px auto auto auto;
        }
        .mogo-header-learn-more-span{
            font-size: 16px;
            color: #ffffff;
            border: 1px solid #ffffff;
            display: inline;
            text-align: center;
            font-family: 'Montserrat', sans-serif;  
            padding: 10px 40px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
        .mogo-header-learn-more-h1{
            text-align: center;
            margin-top: 50px;
            cursor: pointer;
        }
}
.mogo-header{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
     .mogo-nav{
         display: flex;
         justify-content: space-between;
         align-items: center;
            .mogo-basket-image{
                height: 16px;
                cursor: pointer;
                margin-left: 35px;
            }
            .mogo-search-image{
                height: 19px;
                cursor: pointer;
                margin-left: 45px;
            }
         .mogo-nav-logo{
             font-size: 30px;
             font-weight: 600;
             color: #ffffff;
             letter-spacing: 1px;
             cursor: pointer;
             font-family: 'Montserrat', sans-serif;
             padding: 10px;
             line-height: 20px;
         }
         .mogo-ul{
             display: flex;
             justify-content: flex-end;
             align-items: center;
            //  flex-grow: 1;
                .mogo-li{
                    margin: 10px auto auto auto;
                       .mogo-li-a{
                           font-size: 14px;
                           font-family: 'Montserrat', sans-serif;
                           text-decoration: none;
                           padding: 10px;    
                           display: inline-block;
                           color: #ffffff;
                       }
                       .mogo-li-a::after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color:#FCE38A;
                        transition: width .1s;
                        margin-top: 2px;
                        overflow: hidden;
                       }
                       .mogo-li-a:hover::after {
                            width: 100%;
                        }
                        .mogo-li-a:hover{
                            color: #FCE38A;
                        }
                }
         }
     }
}
.mogo-story-section{
    max-height: 100vh;
    min-height: 670px;
    background-color: #ffffff;
}
.mogo-story-texts{
    display: flex;
    flex-direction: column;
    align-items: center;
        .mogo-story-title-h1{
            font-size: 24px;
            color: black;
            font-family: 'Kaushan Script', cursive;
            margin-top: 90px;
        }
        .mogo-story-title-h2{
            font-size: 30px;
            color: black;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            margin-top: 25px;
        }
        .mogo-story-title-bottom-line{
            height: 3px;
            width: 60px;
            background-color: #95E1D3;
            margin-top: 40px;
        }
        .mogo-story-p{
            font-size: 14px;
            color: #999999;
            font-family: 'Roboto';
            max-width: 900px;
            text-align: center;
            margin-top: 40px;
            line-height: 20px;
        }
}
.mogo-story-card-main-div{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    box-sizing: border-box;
    overflow: hidden;
    // background-color: brown;
    height: 320px;
}
.mogo-story-card-div{
    margin: 50px 20px 20px 20px;
    position: relative;
}
.mogo-story-effect-img{
    width: 350px;
    position: absolute;
}
.mogo-story-effect-span-div{
    width: 350px;
    height: 229px;
    background-color: #95E1D3;
}
.mogo-story-effect-img:hover{
    transition: .2s ;
    margin-top: -7px;
}
.mogo-story-effect-img:hover{
    transition: .2s ;
    margin-left: -7px;
}
.mogo-members-star-div{
    background-color: #95E1D3;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
        .mogo-design-member-div{
            height: 100px;
            width: 150px;
            text-align: center;
        }
        .mogo-members-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 83.5%;
        }
        .mogo-design-member-h1{
            font-size: 72px;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
        }
        .mogo-design-member-span{
            font-size: 14px;
            color: #ffffff;
            font-family: 'Montserrat', sans-serif;
            margin-top: 50px;
        }
        .mogo-design-member-border-div{
            height: 250px;
            width: 1px;
            background-color:#ffffff;
        }
}
.mogo-work-info-move-div{
    display: flex;
    justify-content: center;
    // align-items: center;
    // margin-top: 40px;
}
.mogo-work-title-h1{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
}
.mogo-work-title-descripten-h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 25px;
}
.mogo-work-title-bottom-line{
    height: 3px;
    width: 60px;
    background-color: #95E1D3;
    display: block;
    margin: 40px auto 65px auto;
}
.mogo-work-star-div{
    background-color: #ffffff;
    max-height: 650px;
    min-height: 650px;
    box-sizing: border-box;
    // overflow: hidden;
    padding-top: 100px;
}
.mogo-work-mini-section-div{
    height: 100px;
    width: 350px;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    // margin-top: 60px;
    margin: 25px;
    // background-color: red;
        .mogo-work-images{
            height: 30px;
        }
        .mogo-work-h1{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            font-weight: 600;
            color: #000000;
            text-transform: uppercase;
        }
        .mogo-work-p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: #000000;
            line-height: 20px;
            margin-top: 20px;
        }
        .mogo-work-texts-move-div{
            margin-left: 25px;
        }
}
.mogo-work-boxes-line-span{
     height: 1px;
     width: 100%;
     background-color: #E5E5E5;
     margin-bottom: 30px;
}
.mogo-device-title-h1{
    font-size: 35px;
    color: #000000;
    font-family: 'Kaushan Script', cursive;
    padding-top: 50px;
    text-align: center;
}
.mogo-device-title-h2{
    font-size: 45px;
    font-weight: 900;
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-top: 30px;
    text-align: center;
}
.mogo-device-title-bottom-line{
    height: 5px;
    width: 100px;
    background-color: #95E1D3;
    margin: 30px auto auto auto;
}
.mogo-device-content-div{
    background-image: url("../img/mogo-device-div-background-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    // filter: grayscale(100%);
    max-height: 800px;
    min-height: 800px;
}
.mogo-device-images-div{
    position: relative;
        .mogo-device-tablet-bk-img{
            position: absolute;
            height: 350px;
            left: 396px;
            top: 450px;
        }
        .mogo-device-ipad-div{
            box-sizing: border-box;
            overflow: hidden;
        }
        .mogo-device-ipad-img{
            height: 480px;
            position: absolute;
            left: 228px;
            top: 383px;
        }
        .mogo-device-mobole-img{
            position: absolute;
            height: 300px;
            left: 630px;
            top: 541px;
            z-index: 2;
        }
        .mogo-device-tablet-bk-div{
            box-sizing: border-box;
            overflow: hidden;
        }
}

.luakii{
    height: 50px;
    width: 100% ;
    background-color: #ffffff;
    position: relative;
}
.mogo-service-text-div{
    height: 500px;
    background-color:#ffffff;
}
