.index-page{
    // background-color:#7f8c8d ;
}
.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // line-height: 65px;
}
.nav-li{
    margin-left: 65px;
    margin-right: 65px;
    line-height: 50px;
    display: inline-block;
}
.navigation-a{
    box-sizing: border-box;
    text-decoration: none;
    padding: 16px;
    font-family: 'Roboto_bold';
    text-transform: uppercase;
    color: $defaultBlueColor;
    font-size: $defaultFontSize;
}
// a:hover {
//     -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
//     -webkit-mask-size: 200%;
//     animation: shine 2s infinite;
//   }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }