.header{
  padding-top: 30px;
}
.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-nav{
  margin: auto 50px auto 605px;
}
.projects-nav{
  margin: auto 50px auto auto;
}
.personal-btn{
  color: #FFC25C !important;
}
.navigation-a{
  letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Mont ExtraLight DEMO';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 18px;
    padding: 7px;
       &:hover{
         color: #FFC25C;
       }
}
// project page header
.project-page-header{
  padding-top: 30px;
}
// project page header