body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 138%;
}
.nav-ul{
    font-family: 'Roboto_bold';
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .nav-li{
        color: white;
        margin: 25px 100px;
        text-transform: uppercase;
        letter-spacing: 1px;
         &:hover{
             cursor: pointer;
         }
    }
    .name-last{
       margin-right: 180px;
   }
}
.capture-img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border: 1px solid #95a5a6;
    box-sizing: border-box;
      &:hover{
        border: 2.5px solid #2980b9;  
      }
}
.fr-ls{
    display: flex;
}